.header {
  display: flex;
}

.header h3 {
  margin: 5px;
  cursor: pointer;
}

.header h3.active {
  border-bottom: 2px solid black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  border: solid 5px black;
  width: 40%;
  height: 300px;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: row;
}

main {
  display: flex;
  justify-content: center;
}

.form {
  margin-top: 20px;
}
